<section class="social-media-section">
    <div class="social-media-card">
        <div class="social-content">
            <div class="social__title">
                <h1>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    Redes sociales
                </h1>
            </div>
            <div class="social__description">
                <div class="social__media">
                    <h6>
                        <i class="fa-brands fa-github"></i>
                        GitHub
                    </h6>
                    <p>El siguiente enlace contiene mis repositorios con los proyectos que voy a codificar.</p>
                    <a href="https://github.com/GonzaloKintal" target="_blank">Visitá mi GitHub</a>
                </div>
                <div class="social__media">
                    <h6>
                        <i class="fa-brands fa-linkedin"></i>
                        LinkedIn
                    </h6>
                    <p>El siguiente enlace contiene mi perfil de LinkedIn.</p>
                    <a href="https://www.linkedin.com/in/gonzalo-kintal-071a41226/" target="_blank">Visitá mi LinkedIn</a>
                </div>
                <div class="social__media">
                    <h6>
                        <i class="fa-brands fa-instagram"></i>
                        Instagram
                    </h6>
                    <p>El siguiente link contiene mi perfil de Instagram.</p>
                    <a href="https://www.instagram.com/gonza.kintal/" target="_blank">Visitá mi Instagram</a>
                </div>
            </div>
        </div>
    </div>
</section>
