<section class="more-info-section">

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="title__info">
        <h2><i class="fa-solid fa-circle-info"></i> MÁS SOBRE MI</h2>
    </div>
    <div class="description__info">
        <p>
            Desde chico me interesó el mundo de la tecnología. Mi vocación por la programación apareció cuando tenía 17 años (actualmente tengo 18).
            Tengo conocimientos en herramientas relacionadas con el diseño y desarrollo web. También tengo conocimientos intermedio/avanzado de Python.
            En este momento estoy en la segunda etapa de Argentina Programa (#YoProgramo 4.0), donde me encuentro aprendiendo TypeScript, Angular y
            más tecnologías que me llevarán a ser un desarrollador web Full Stack. Soy de Buenos Aires, Argentina y actualmente estoy cursando el primer
            año de la Licenciatura en Sistemas en la UNGS (Universidad Nacional de General Sarmiento).
        </p>
    </div>
    
</section>